.tabs {
	list-style: none;
	}
	
.tabs li { 
	display: inline;
	}
	
.tabs li a {
	color: black; 
	float: left;
	display: block; 
	padding: 4px 10px; 
	margin-left: -1px; 
	position: relative; 
	left: 1px; 
	background:	white; 
	text-decoration: none;
	font-size: 20px;
	}
	
.tabs li a:hover {
	background: #ccc; 
	}
body{
	background-color:powdwer-blue;
}

